
<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor id aspernatur libero distinctio eius atque nesciunt deserunt adipisci impedit amet laudantium provident laborum voluptates excepturi ullam magnam, est totam cupiditate!</p>
        </section>
        <address>
            <h2 class="footer__title">contato</h2>
            <ul>
                <li><i class="fi fi-br-envelope"></i> EcommerceComputers@email.com</li>
                <li><i class="fi fi-rs-phone-call"></i> (12) 1234-5678</li>
                <li><i class="fi fi-brands-whatsapp"></i> (12) 91234-5678</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>